/*----------------GENERAL--------------*/
html {
	height: 100%;
	width: 100%;
	background-color: #dcedc8;
	}

/*-----------HEADER------------------*/

header {
	background-color: #689f38;
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
img {
	float: left;
	height: 150px;
	margin: 15px;
}
h1 {
	font-size: 60px;
	float: right;
	color: #FFF;
	margin: 20px; 
}


/*----------CONTAINER----------------*/

.container {
	margin-top: 200px;
	width: 90%;
}
table {
	line-height: 45px;
	width: 100%;
	margin: 5%;
	border-collapse: collapse;
	text-indent: 1%;
	background-color: #c5e1a5;
	font-size: 20px;
}
caption {
	border: 1px solid #689f38;
	text-align: left;
	background-color: #689f38;
	color: #FFF;
}
tr, th, td {
	border: 1px solid #33691e;
}
th {
	background-color: #8bc34a;
	color: #FFF;
}
td {
	width: 50%;
}


/*--------------BUTTON----------------*/

.up {
	position: fixed;
	bottom: 1%;
}
#button {
        height: 24px;
}
a {
}

/*--------------EFFECTS----------------*/

.command:hover {
	line-height: 50px;
	cursor: pointer;
	font-size: 22px;
	font-weight: bold;
	background-color: #aed581;
}
