/*----------------GENERAL--------------*/
html {
	height: 100%;
	width: 100%;
	}

/*-----------HEADER------------------*/

header {
	background-color: #689f38;
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
img {
	float: left;
	height: 80px;
	margin: 15px;
}
h1 {
	font-size: 60px;
	float: right;
	color: #FFF;
	margin: 20px; 
}


/*----------CONTAINER----------------*/

/*.container {
	margin-top: 150px;
	width: 90%;
}
caption {
	border: 1px solid #33691e;
}*/

